.cardSettings {
  margin-top: 1rem;
  box-shadow: 0 0 0.3rem lightgray;
}
.container {
  margin-top: 1rem;
}
.signedUser {
  margin-bottom: 2rem;
}
.buttonMargin {
  margin-right: 0.5rem;
}

.highlight {
  box-shadow: 0 0 0.6rem rgb(5, 255, 109);
}
.maTo {
  margin-top: 1rem;
}
.startEnd {
  display: flex;
  justify-content: space-between;
}

.width10 {
  width: 10rem;
}
.flex {
  display: flex;
}
.color:nth-child(2n + 1) {
  background-color: rgb(225, 225, 225);
}

.color:nth-child(2n) {
  background-color: rgb(250, 250, 250);
}
.colorToggle:nth-child(2n + 1) {
  background-color: rgb(240, 240, 240);
}
.colorCollapse:nth-child(2n) {
  background-color: white;
}
