// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

// Custom variable overrides
$body-bg: black;
$body-color: lightgray;

// Typography
$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Lato', sans-serif;
//$headings-color: #fff;

// Theme colors
$primary: rgb(255, 127, 0);
$secondary: rgba(255, 255, 255, 0);
//$success: $green !default;
//$info: $cyan !default;
//$warning: $yellow !default;
//$danger: $red !default;
$light: rgba(255, 255, 255, 0);
$dark: #000 !default;

// Card - Calendar
// .card-body {
//   background-color: white;
//   border-radius: 5px;
// }
// .card-border-color {
//   border-color: green;
// }
.card-header {
  background-color: rgba(255, 255, 255, 0);
}

// Events
.eventtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.eventtext {
  font-size: 14px;
}
.circle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  background: $primary;
}
.inforow {
  font-size: 12px;
  color: #6c6c6c;
}
.inforowicon {
  padding-left: 20px;
  padding-right: 5px;
}

// Card columns for feed
$card-columns-count: 3;
// $card-bg: none;
// $card-border-width: 3px;
$card-border: solid 3px green;
$card-border-radius: 5px;
$card-spacer-x: 10px;
$card-spacer-y: 10px;

.posted {
  font-size: 12px;
  font-style: italic;
}

//Background image
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100)),
    url('images/floorball_background_web.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

// Navbar fade
.fadednavbar {
  background: linear-gradient(rgba(0, 0, 0, 100), rgba(36, 36, 36, 100));
}

// Button column
.btn-col {
  display: flex;
  justify-content: flex-end;
}

// Hamburger menu
.hamburger .dropdown-toggle::before {
  display: none;
}
.dropdown-toggle .nav-link::before {
  display: none;
}

// Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';

// Calendar
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
